{% extends 'layout.twig' %}

{% block body %}
  <h1 class="bg-dark text-white fw-bold fs-2 p-4">{{title}}</h1>
  <h2 class="p-2 fw-bold d-flex justify-content-center"> HTML5 Banners Generator</h2>


<section id="sizes" class="">
    <h3>Step 1: Select the size</h3>
    <form action="" class="sizes" >
        <div>
            <p class="m-0">Portrait:</p>
            <div>
                <input type="radio" id="300x250" name="size" value="300x250">
                <label for="300x250">300x250</label>
            </div>
            <div>
                <input type="radio" id="300x600" name="size" value="300x600">
                <label for="300x600">300x600</label>
            </div>
            <div>
                <input type="radio" id="320x320" name="size" value="320x320">
                <label for="320x320">320x320</label>
            </div>
        </div>

        <div>
            <p class="m-0">Landscape:</p>
            <div>
                <input type="radio" id="728x90" name="size" value="728x90">
                <label for="728x90">728x90</label>
            </div>
            <div>
                <input type="radio" id="930x180" name="size" value="930x180">
                <label for="930x180">930x180</label>
            </div>
            <div>
                <input type="radio" id="930x600" name="size" value="930x600">
                <label for="930x600">930x600</label>
            </div>
        </div>
    </form>
</section>

<!-- add class wrapper to #wrapper when sizes are portrait sizes -->
<div id="wrapper" class="displayNone">

    <!-- add class width50 to #upload when sizes are portrait sizes -->
    <section id="upload">
        <h3>Step 2: Upload the assets</h3>
        <!-- add class landscape to #assetswrapper when sizes are landscape sizes  -->
        <div id="assetswrapper" class="assetswrapper">
            <div class="asset">
                <p>Background:</p>
                <input id="fileupload" class="fileupload" type="file" name="bg"/>
                <label for="fileupload">
                    <span>Choose file</span>
                </label>
            </div>
            <div class="asset">
                <p>Text 1:</p>
                <input id="fileupload2" class="fileupload" type="file" name="txt_1"/>
                <label for="fileupload2">
                    <span>Choose file</span>    
                </label>
            </div>
            <div class="asset">
                <p>Text 2:</p>
                <input id="fileupload3" class="fileupload" type="file" name="txt_2"/>
                <label for="fileupload3">
                    <span>Choose file</span>    
                </label>
            </div>
            <div class="asset">
                <p>CTA:</p>
                <input id="fileupload4" class="fileupload" type="file" name="cta"/>
                <label for="fileupload4">
                    <span>Choose file</span>
                </label>
            </div>
        </div>
        <div>
            <button id="upload-button" class="displayNone uploadButton">Upload</button>
        </div>

        <div>
            <button id="apply-animation">Apply animation</button>
        </div>
    </section>

    <section id="preview" class="displayNone">
        <h3>Step 3: Preview the banner</h3>
        <div class="d-flex">
            <iframe class="preview" src="" frameborder="0" width="" height="" scrolling="no"></iframe>
        </div>
    </section>
</div>

<section id="download" class="displayNone">
    <h3>Step 4: Download</h3>
    <div>
        <form action="/compress" method="post">
            <button class="downloadButton">Download ZIP</button>
        </form>
    </div>
</section>

<section id="reset" class="displayNone">
    <h3>Step 5: Reset the generator</h3>
    <p>
        Removes all the uploaded assets and all the generated zip files.
    </p>
    <div>
        <button id="resetButton" class="resetButton">Reset</button>
    </div>
</section>
{% endblock %}
