{% extends 'layout.twig' %}

{% block body %}
  <h1 class="bg-dark text-white fw-bold fs-2 p-4">{{title}}</h1>
  <h2 class="p-2 fw-bold d-flex justify-content-center"> HTML5 Banners Generator</h2>


<section id="sizes" class="p-2">
    <h3>Step 1: Select the size</h3>
    <form action="" class="d-flex flex-row justify-content-around" >
        <div>
            <p class="m-0">Portrait:</p>
            <div>
                <input type="radio" id="300x250" name="size" value="300x250">
                <label for="300x250">300x250</label>
            </div>
            <div>
                <input type="radio" id="300x600" name="size" value="300x600">
                <label for="300x600">300x600</label>
            </div>
            <div>
                <input type="radio" id="320x320" name="size" value="320x320">
                <label for="320x320">320x320</label>
            </div>
        </div>

        <div>
            <p class="m-0">Lanscape:</p>
            <div>
                <input type="radio" id="728x90" name="size" value="728x90">
                <label for="728x90">728x90</label><br>
            </div>
            <div>
                <input type="radio" id="930x180" name="size" value="930x180">
                <label for="930x180">930x180</label><br>
            </div>
            <div>
                <input type="radio" id="930x600" name="size" value="930x600">
                <label for="930x600">930x600</label><br>
            </div>
        </div>
    </form>


</section>
  <section id="upload" class="p-2">
      <h3>Step 2: Upload the assets</h3>
      <div class="d-grid gap-3">
            <div class="p-2 bg-light border">
                <p>Background image:</p>
                <input id="fileupload" class="fileupload" type="file" name="bg"/>
                <label for="fileupload">
                    <span>Choose file</span>
                </label>
            </div>
            <div class="p-2 bg-light border">
                <p>Text 1:</p>
                <input id="fileupload2" class="fileupload" type="file" name="txt_1"/>
                <label for="fileupload2">
                    <span>Choose file</span>    
                </label>
            </div>
            <div class="p-2 bg-light border">
                <p>Text 2:</p>
                <input id="fileupload3" class="fileupload" type="file" name="txt_2"/>
                <label for="fileupload3">
                    <span>Choose file</span>    
                </label>
            </div>
            <div class="p-2 bg-light border">
                <p>CTA:</p>
                <input id="fileupload4" class="fileupload" type="file" name="cta"/>
                <label for="fileupload4">
                    <span>Choose file</span>
                </label>
            </div>
            <div>
                <button id="upload-button" class="btn btn-dark">Upload </button>
            </div>
        </div>
    </section>
    
    
    <section id="preview" class="p-2">
        <h3>Step 3: Preview the banner</h3>

        <div class="d-flex justify-content-center">
            <iframe class="preview" src="" frameborder="0" width="" height="" scrolling="no"></iframe>
        </div>
    </section>

<section id="download" class="p-2">
    <h3>Step 4: Download</h3>
    <div class="">
        <form action="/compress" method="post">
              <button class="btn btn-dark">Download ZIP</button>
          </form>
    </div>
</section>
{% endblock %}
