body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.fileupload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.fileupload + label {
  font-size: 1.2rem;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  color: black;
}

.fileupload + label:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
