body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#sizes, #wrapper, #download, #reset {
  margin: 10px;
}

#sizes, #upload, #upload-button, #preview {
  animation: fadeIn 0.5s ease-in-out;
}

#download, #reset {
  animation-name: fadeIn;
  animation-delay: 1s;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.fileupload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.fileupload + label {
  font-size: 1.2rem;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span {
  text-overflow: ellipsis;
}
.fileupload + label:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.sizes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.displayNone {
  display: none;
}

.landscape {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.portrait {
  display: flex;
  flex-direction: column;
}

.asset {
  padding: 5px;
  border: 1px dashed rgb(150, 150, 150);
  background-color:  rgb(250, 250, 250);
  max-width: 23%;
}

.asset.highlight {
  border: 3px solid red;
}

.asset:not(:last-child) {
  margin-right: 10px;
}
 
.asset p {
  margin: 0;
  padding-bottom: 5px;
}
/* wrapper for #upload and #preview sections */
.wrapper {
  display: flex;
  width: 100%;
}

.landscape .asset {
  width: 100%;
}

.portrait .asset {
  margin-bottom: 10px;
  width: 160px;
}

.width50 {
  width: 50%;
}

.uploadButton, .downloadButton, .resetButton, #dialogBtn {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

#animations-container {
  margin: 10px 0;
}
#animations-wrapper {
  display: flex;
  justify-content: space-between;
}

.animationBtn, .noAnimBtn, .replayBtn {
  width: 110px;
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  border-radius: 0.25rem;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

/* #replayAnimBtn,  */
#upload-button {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .landscape {
    margin: auto;
  }

  #sizes, #wrapper, #download, #reset {
    margin: 10px 20px;
  }
  .uploadButton {
    margin: 10px 0;
  }
}

@media screen and (min-width: 1024px) {
  #sizes, #wrapper, #download, #reset {
    max-width: 1000px;
    margin: auto;
    padding: 10px 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

dialog {
  border-radius: 10px;
  padding: 40px;
}

.dialogBtn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

