body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.fileupload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.fileupload + label {
  font-size: 1.2rem;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  color: black;
}

.fileupload + label:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.displayNone {
  display: none;
}

.landscape {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}

/* .assetPortrait {
  width: 23%;
} */

.portrait {
  display: flex;
  flex-direction: column;
}

.assetPortrait {
  margin-bottom: 10px;
  width: 160px;
}

/* wrapper for #upload and #preview sections */
.wrapper {
  display: flex;
  width: 100%;
}

.width50 {
  width: 50%;
}