
#txt_1 {
    opacity: 0;
    /* position: absolute;
    top: 40px; */
    top: 20px;
  }
  #txt_2 {
    opacity: 0;
    /* position: absolute;
    top: 40px; */
    top: 20px;
  }
  #cta {
    opacity: 0;
    top: 20px;
  }


  