/* scale in for size 300x250 */

#txt_1 {
    opacity: 1;
    transform: scale(0, 0);
    transform-origin: center center;
  }
  
  #txt_2 {
    opacity: 1;
    transform: scale(0, 0);
    transform-origin: center center;
  }

  #cta {
    opacity: 0;
  }
  