{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>dd to {{title}}</p>
  <form method="POST" action="/profile-upload-single" enctype="multipart/form-data">
      <div>
          <label>Upload profile picture</label>
          {# <input type="hidden" name="type" value="bg"> #}
          <input type="file" name="image" required/>
          <input type="file" name="bg" required/>
      </div>
      <div>
          <input type="submit" value="Upload" />
      </div>
  </form>



{% endblock %}
