{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>dd to {{title}}</p>

{# 
  <form method="POST" action="/profile-upload-single" enctype="multipart/form-data">
      <div>
          <div>
              <label>Upload background </label>
              <input type="file" name="bg" required/>
          </div>
          <div>
              <label>Upload txt_1 </label>
              <input type="file" name="txt_1" required/>
          </div>
          <div>
              <label>Upload txt_2</label>
              <input type="file" name="txt_2" required/>
          </div>
          <div>
              <label>Upload cta</label>
              <input type="file" name="cta" required/>
          </div>
      </div>
      <div>
          <input type="submit" value="Upload" />
      </div>
  </form> #}

    <input id="fileupload" type="file" name="bg" />
    <input id="fileupload" type="file" name="cta" />
    <button id="upload-button"> Upload </button>

  {# <iframe src="300x600.html" frameborder="0" width="300" height="600" scrolling="no"></iframe> #}

  {# <div>
    <a href="/uploads.zip" download="300x600">Download</a>
</div> #}

<div>
    <form action="/compress" method="post">
          <button class="btn btn-block btn-primary">Download ZIP</button>
      </form>
</div>
{% endblock %}
